/* body {
    margin: 0;
}
.gradient {
    width: 100vw;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(249,48,48,1) 35%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner{
    order: 1;
    height:20%;
    margin-bottom: 50px;
    text-align: center;
    color: #FFF;
    font-family: 'JetBrains Mono', monospace;
    font-size: 36px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-transform: capitalize;
}

.login{
    order: 2;
    height: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
}

.logRegLayout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
}

#nicknameInput{
    width: 392px;
    height: 57px;
    flex-shrink: 0;
    background-color: #1E1E1E;
    fill: #1E1E1E;
    opacity: 0.7;
    border-radius: 20px;
    border: none;
    margin-bottom: 13px;
    text-align: center;
    font-size: 24px;
    color: #bfbfbf;
    font-family: 'JetBrains Mono', monospace;
}

#passwordInput, #reEnterInput{
    width: 392px;
    height: 57px;
    flex-shrink: 0;
    background-color: #1E1E1E;
    fill: #1E1E1E;
    opacity: 0.7;
    border-radius: 20px;
    border: none;
    margin-bottom: 13px;
    text-align: center;
    font-size: 24px;
    color: #bfbfbf;
    font-family: 'JetBrains Mono', monospace;
}

#emailInput {
    width: 392px;
    height: 57px;
    flex-shrink: 0;
    background-color: #1E1E1E;
    fill: #1E1E1E;
    opacity: 0.7;
    border-radius: 20px;
    border: none;
    margin-bottom: 13px;
    text-align: center;
    font-size: 24px;
    color: #bfbfbf;
    font-family: 'JetBrains Mono', monospace;
}

#registerButton{
    width: 150px;
    height: 57px;
    flex-shrink: 0;
    background-color: #1E1E1E;
    fill: #1E1E1E;
    opacity: 0.7;
    border-radius: 20px;
    border: none;
    margin-bottom: 13px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #bfbfbf;
    font-family: 'JetBrains Mono', monospace;
    &:hover{
        background-color: #1E1E1E;
        fill: #1E1E1E;
        opacity: 1;
        transition:cubic-bezier(1, 0, 0, 1) 0.3s;
        cursor: pointer;
    }
    &:active{
        background-color: #1E1E1E;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
}

::placeholder {
    color: #bfbfbf;
    opacity: 1;
    font-family: 'JetBrains Mono', monospace;
} */

body {
    margin: 0;
}

.gradient {
    width: 100vw;
    height: 100vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(249, 48, 48, 1) 35%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    order: 1;
    margin-bottom: 10vh;
    text-align: center;
    color: #FFF;
    font-family: 'JetBrains Mono', monospace;
    font-size: 4vw;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-transform: capitalize;
}

.login {
    order: 2;
    height: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
}

.logRegLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
}

#nicknameInput,
#passwordInput,
#reEnterInput,
#emailInput {
    width: 50vw;
    height: 6vh;
    flex-shrink: 0;
    background-color: #1E1E1E;
    fill: #1E1E1E;
    opacity: 0.7;
    border-radius: 20px;
    border: none;
    margin-bottom: 2vh;
    text-align: center;
    font-size: 40px;
    color: #bfbfbf;
    font-family: 'JetBrains Mono', monospace;
}

#registerButton {
    width: 100%;
    max-width: 35vw;
    height: 6vh;
    flex-shrink: 0;
    background-color: #1E1E1E;
    fill: #1E1E1E;
    opacity: 0.7;
    border-radius: 20px;
    border: none;
    margin-bottom: 2vh;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: #bfbfbf;
    font-family: 'JetBrains Mono', monospace;

    &:hover {
        background-color: #1E1E1E;
        fill: #1E1E1E;
        opacity: 1;
        transition: cubic-bezier(1, 0, 0, 1) 0.3s;
        cursor: pointer;
    }

    &:active {
        background-color: #1E1E1E;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
}

::placeholder {
    color: #bfbfbf;
    opacity: 1;
    font-family: 'JetBrains Mono', monospace;
}
